<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Die Kamera wird benötigt, um den Check-in-QR-Code der Einrichtung zu scannen.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>de.servicehealth.poppmodule.demo.thirdparty</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>popp-3rdparty</string>
			</array>
		</dict>
	</array>
</dict>
</plist>